<main
  fxFlex
  fxLayoutAlign="center start"
  *ngIf="previews$ | async as previews; else loading"
>
  <section fxLayout="column" fxFlex="0 1 800px">
    <cdk-virtual-scroll-viewport fxFlex itemSize="50">
      <mat-card
        class="mat-elevation-z8"
        *cdkVirtualFor="let preview of previews; trackBy: trackPreviews"
      >
        <mat-card-header>
          <mat-card-subtitle>{{
            preview.timestamp | date: 'longDate'
          }}</mat-card-subtitle>
          <mat-card-title>{{ preview.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>This card has divider and indeterminate progress as footer</p>
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-button
            color="primary"
            [routerLink]="['/view-blog', preview.id]"
            >READ MORE ></a
          >
        </mat-card-actions>
      </mat-card>
    </cdk-virtual-scroll-viewport>
  </section>
</main>

<ng-template #loading>
  <div fxFlex fxLayoutAlign="center center"><mat-spinner></mat-spinner></div>
</ng-template>
