<main
  class="flex flex-col items-center mt-8"
  *ngIf="entry$ | async as entry; else loading"
>
  <div class="flex flex-col gap-4 w-full">
    <span class="text-stone-500">
      {{ entry.timestamp | date : 'fullDate' }}
    </span>

    <h1 class="text-4xl">{{ entry.title }}</h1>
    <div class="flex flex-row items-center gap-2">
      <span> by {{ entry.username }} </span>
    </div>

    <article class="prose prose-lg max-w-none prose-img:mx-auto">
      <div [innerHTML]="entry.text"></div>
    </article>

    <app-likes
      [currentUser]="(currentUser$ | async)!"
      [likes]="(likes$ | async)!"
      (likeToggled)="onLikeToggled()"
    ></app-likes>

    <app-comments
      [comments]="(comments$ | async)!"
      (commentAdded)="onCommentAdded($event)"
    >
    </app-comments>
  </div>
</main>

<ng-template #loading>
  <div class="flex h-full items-center justify-center">
    <svg
      class="animate-spin -ml-1 mr-3 h-5 w-5"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
    >
      <circle
        class="opacity-25"
        cx="12"
        cy="12"
        r="10"
        stroke="currentColor"
        stroke-width="4"
      ></circle>
      <path
        class="opacity-75"
        fill="currentColor"
        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
      ></path>
    </svg>
  </div>
</ng-template>
