<section
  fxLayout="column"
  fxLayoutGap="8px"
  *ngIf="entry$ | async as entry; else loading"
>
  <ng-container>
    <h1>{{ entry.title }}</h1>
    <span class="grey">
      Posted by {{ entry.username }} at
      {{ entry.timestamp | date: 'h:mm:ss a on dd/MM/yyyy' }}
    </span>

    <div [innerHTML]="entry.text"></div>
  </ng-container>

  <app-likes
    [currentUser]="(currentUser$ | async)!"
    [likes]="(likes$ | async)!"
    (likeToggled)="onLikeToggled()"
  ></app-likes>

  <app-comments
    [comments]="(comments$ | async)!"
    (commentAdded)="onCommentAdded($event)"
  >
  </app-comments>
</section>

<ng-template #loading>
  <div fxFlex fxLayoutAlign="center center"><mat-spinner></mat-spinner></div>
</ng-template>
