<div *ngIf="comments" fxLayoutGap="8px">
  <h3>Comments</h3>
  <div fxLayout="column" fxLayoutGap="8px">
    <div
      fxLayout="column"
      *ngFor="let comment of comments; trackBy: trackComments"
    >
      <span>{{ comment.text }}</span>
      <small fxLayout="row" class="grey">
        by {{ comment.username }} at
        {{ comment.timestamp | date: 'h:mm:ss a on dd/MM/yyyy' }}
      </small>
    </div>
  </div>
  <div fxLayoutAlign="start end" fxLayoutGap="8px">
    <mat-form-field fxFlex="300px">
      <textarea
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
        placeholder="Enter comment..."
        [formControl]="comment"
      ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      [disabled]="comment.invalid"
      (click)="onAddComment(comment.value)"
    >
      Add Comment
    </button>
  </div>
</div>
