<div fxFlex fxLayout="column" fxLayoutGap="8px">
  <div fxLayout="column" fxLayoutGap="8px">
    <h4>{{ getTitle(comments) }}</h4>
    <div *ngIf="comments.length > 0" fxLayout="column" fxLayoutGap="8px">
      <div
        fxLayout="column"
        *ngFor="let comment of comments; trackBy: trackComments"
      >
        <div class="comment" fxLayout="column">
          <span class="user">{{ comment.username }}</span>
          <span>{{ comment.text }}</span>
        </div>

        <small class="indent">
          <span class="date">
            {{ comment.timestamp | date: 'longDate' }} at
            {{ comment.timestamp | date: 'shortTime' }}
          </span>
        </small>
      </div>
    </div>
  </div>
  <mat-form-field>
    <textarea
      #commentInput
      matInput
      cdkTextareaAutosize
      cdkAutosizeMinRows="1"
      cdkAutosizeMaxRows="5"
      placeholder="Add a comment"
      (keydown.enter)="onAddComment(commentInput.value.trim()); (false)"
      [formControl]="comment"
    ></textarea>
  </mat-form-field>
</div>
