<div class="flex flex-col gap-2">
  <h4>{{ getTitle(comments) }}</h4>
  <div *ngIf="comments.length > 0" class="flex flex-col gap-2">
    <div
      class="flex flex-col"
      *ngFor="let comment of comments; trackBy: trackComments"
    >
      <div class="flex flex-col rounded-lg bg-slate-200 p-2">
        <span class="font-bold">{{ comment.username }}</span>
        <span>{{ comment.text }}</span>
      </div>

      <small class="ml-2">
        <span class="text-stone-500">
          {{ comment.timestamp | date : 'longDate' }} at
          {{ comment.timestamp | date : 'shortTime' }}
        </span>
      </small>
    </div>
  </div>

  <textarea
    #commentInput
    class="form-textarea rounded-md border-gray-300 shadow-sm resize-none"
    rows="{2}"
    (keydown.enter)="onAddComment(commentInput.value.trim()); (false)"
    [formControl]="comment"
    placeholder="Add a comment"
  ></textarea>
</div>
