<div fxFlex fxLayout="column">
  <mat-toolbar color="primary" fxLayoutGap="8px">
    <span class="home" [routerLink]="['/']">Blogs</span>
    <button mat-raised-button color="accent" [routerLink]="['/edit-blog']">
      Create Blog Entry
    </button>
    <span fxFlex></span>
    <span>Impersonating user:</span>
    <mat-form-field appearance="fill">
      <mat-select [formControl]="selectedUser">
        <mat-option
          *ngFor="let user of availableUsers$ | async; trackBy: trackUsers"
          [value]="user"
        >
          {{ user.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <a
      mat-raised-button
      color="accent"
      href="https://gray-beach-08c130f03.2.azurestaticapps.net"
    >
      View React Version
    </a>
  </mat-toolbar>

  <div fxFlex class="content-host mat-typography">
    <router-outlet fxFill></router-outlet>
  </div>
</div>
