<main class="flex flex-col gap-4 mt-8">
  <h1 class="text-4xl">Create Blog Post</h1>

  <input
    class="w-full form-input rounded-md border-gray-300 shadow-sm"
    type="text"
    placeholder="Title"
    [formControl]="title"
  />

  <quill-editor
    [styles]="{ height: '300px' }"
    [formControl]="editor"
    [modules]="modules"
  ></quill-editor>

  <div class="flex justify-end">
    <button
      class="btn btn-blue"
      type="button"
      [disabled]="formGroup.invalid"
      (click)="onSave()"
    >
      Save
    </button>
  </div>
</main>
