<main class="flex flex-col gap-4 mt-8">
  <h1 class="text-4xl">Create Blog Post</h1>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Enter your blog title" [formControl]="title" />
  </mat-form-field>

  <quill-editor
    [styles]="{ height: '300px' }"
    [formControl]="editor"
    [modules]="modules"
  ></quill-editor>

  <div class="flex justify-end">
    <button
      mat-raised-button
      color="accent"
      [disabled]="formGroup.invalid"
      (click)="onSave()"
    >
      Save
    </button>
  </div>
</main>
