@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  --mdc-typography-button-text-transform: uppercase;
}

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
  )
);

@include mat.all-component-themes($my-theme);

@import '~quill/dist/quill.bubble.css';
@import '@material-design-icons/font';
